* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card {
  height: 450px;
  width: 350px;
  background: linear-gradient(rgb(25, 25, 255), rgb(53, 53, 255));
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  gap: 20px;
}

.search-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.card .search-box input {
  background: white;
  border: none;
  height: 30px;
  border-radius: 10rem;
  width: 80%;
  padding: 0 10px;
  color: black;
  outline: none;
}

.search-box button {
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 50%;
  color: rgb(53, 53, 255);
}

.weather-data{
  width: 100%;
}

.temperature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.temperature img{
  width: 100px;
}

.temperature h1{
  color: white;
  font-size: 2rem;
}

.temperature p{
  color: white;
}

.bottom {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.bottom .humidity, .wind {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.bottom .humidity i, .wind i {
  font-size: 2rem;
}

.bottom .humidity h1, .wind h1{
  font-weight: 300;
  font-size: 2.5rem;
}

.bottom .humidity p, .wind p{
  font-size: 1rem;
}

.error{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 200px;
  width: 200px;
  border-radius: 5px;
  background-color: rgb(255, 192, 192);
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.error i {
  font-size: 4rem;
  color: red;

}

.error h1{
  font-size: 1.2rem;
}


/*  */