* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
}

main {
  height: 100%;
  width: 100%;
  background: linear-gradient(rgb(38, 38, 38), black);
  padding: 10px 0 10px 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

section {
  height: 100%;
  width: 350px;
  border-radius: 10px;
  background-color: black;

  margin: auto;
}

.all-reels {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-color: #000000;
  overflow: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.all-reels::-webkit-scrollbar {
  display: none;
}

.reel {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: lightblue;
  /* overflow: hidden; */
  border-radius: 10px;
  color: white;
  margin-bottom: 20px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.reel video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.reel .bottom {
  padding: 30px 20px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.075), black);
  position: absolute;
  bottom: 0;
}

.reel .bottom .user {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.reel .bottom .user img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.reel .bottom .user h1 {
  font-size: 0.9rem;
  font-weight: 400;
}

.reel .bottom .user button {
  border: none;
  padding: 5px 12px;
  border-radius: 8px;
  background: transparent;
  color: white;
  border: 1px solid white;
}

.bottom > h3 {
  font-size: 1rem;
  font-weight: 500;
}

.right {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.right > div {
  width: 50px;
  cursor: pointer;
}

.right h4 {
  font-size: 1.5rem;
  font-weight: 100;
  cursor: pointer;
}

.menu h4 {
  rotate: 90deg;
}

.right > div h4 {
  pointer-events: none;
}

.right > div h6 {
  pointer-events: none;
}