* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body{
  cursor: none;
}

main{
  height: 100%;
  width: 100%;
  background: #000;
}

#cursor{
  display: flex;
  align-items: center;
  justify-content: center;
}

#cursor img {
  height: 40px;
  position: fixed;
  transform: translate(-50%,-50%);
}