* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body{
    overflow: hidden;
}

main {
    height: 100%;
    width: 100%;
    background: #000;
}

button {
    background-color: antiquewhite;
    padding: 10px 20px;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    z-index: 9;
}