* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}



main{
  height: 100%;
  width: 100%;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}


.section-wrapper {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.task-section{
  height: 95%;
  width: 30%;
  border-radius: 8px;
  background-color: rgb(255, 219, 219);
  
  
}

.input-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-section input{
  border: none;
  padding: 10px;
  width: 100%;
  font-size: 1rem;
  border-radius: 5rem 0 0 5rem;
}

.input-section button{
  border: none;
  padding: 10px 15px;
  background-color: rgb(255, 31, 31);
  color: white;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0 5rem 5rem 0;
}

.task-list-section {
  width: 100%;
  padding: 10px 20px;
}

.task-list-section ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.task-list-section ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 1.1rem;
  background-color: rgb(255, 186, 186);
  padding: 10px 10px;
}

.task-list-section ul li .task-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.task-actions button {
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  cursor: pointer;
}

