* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

main{
  height: 100%;
  width: 100%;
  background-color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.card{
  height: 100px;
  width: 300px;
  background-color: black;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 0 5px white;
  color: white;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0 10px;
  gap: 10px;
}

.card img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}


.info {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.info h1{
  font-size: 1.3rem;
}

.info p{
  font-size: 0.8rem;
}

#refresh {
  padding: 10px 20px;
  background-color: rgb(54, 54, 255);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
}