* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

html{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes borderAnimate {
  from {
    --rotate: 0deg;
  }
  to {
    --rotate: 360deg;
  }
}

#card{
  max-width: 300px;
  padding-inline: 10px;
  padding-bottom: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 15px;
  
  animation: borderAnimate 5s;
  animation-iteration-count: infinite;
  animation-play-state: paused;
  box-shadow: 0 0 0px rgb(58, 58, 218);
  transition: all 0.3s linear;
}

#card:hover{
  animation-play-state: running;
  background: 
    linear-gradient(black) padding-box,
    conic-gradient(from var(--rotate), black,rgb(58, 58, 218),black) border-box;
  border: 5px solid rgb(255, 255, 255, 0);
  box-shadow: 0 0 80px rgb(58, 58, 218);
  transition: all 0.3s linear;
}

#card img{
  width: 100%;
  /* height: 300px; */
}